.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.details__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details__item-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  background-color: #161616;
  border: 1px solid #262626;
  font-size: 12px;
  border-radius: 18px;
  padding: 6px 10px;
}

.details__item-icon {
  width: 18px;
  height: 18px;
}

.details__item-value {
  font-size: 50px;
}

@media screen and (min-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }

  .details__item-title {
    flex-direction: row;
    font-size: 14px;
    gap: 10px;
  }

  .details__item-value {
    font-size: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .details {
    grid-template-columns: repeat(2, 1fr);
  }

  .details__item-value {
    font-size: 70px;
  }
}
