.ui-capsule {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 5px 10px;
  background-color: #161616;
  border: 1px solid #262626;
  border-radius: 14px;
  width: fit-content;
}

.ui-capsule--icon {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #e63e21;
}

.ui-capsule--label {
  font-size: 9px;
  text-transform: uppercase;
  color: #c0c0c0;
}

@media screen and (min-width: 768px) {
  .ui-capsule--icon {
    width: 10px;
    height: 10px;
  }

  .ui-capsule--label {
    font-size: 12px;
  }
}
