:root {
  --primary-bg-color: #161616;
  --primary-text-color: #ffffff;
}

body {
  position: relative;
  background-color: var(--primary-bg-color);
  padding: 12px;

  color: var(--primary-text-color);
  font-family: 'Inter', sans-serif;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  align-items: stretch;
}

.content-wrapper__column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  min-width: 0;
}

.content-wrapper__column > *:last-child {
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  body {
    padding: 30px 100px;
  }

  .content-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
