:root {
  --primary-bg-color: #161616;
  --primary-text-color: #ffffff;
}

body {
  position: relative;
  background-color: var(--primary-bg-color);
  padding: 12px;

  color: var(--primary-text-color);
  font-family: 'Inter', sans-serif;
}

.section-title {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

.section-title__icon {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #c0c0c0;
}

@media screen and (min-width: 768px) {
  body {
    /*width: calc(100vw - 200px);*/
    padding: 30px 100px;
  }
}
