.ui-wrapper {
    padding: var(--ui-padding);
    border: 1px solid var(--border-color);
    border-radius: 22px;
    background-color: #f4f4f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-wrapper--square {
    width: var(--ui-size);
    height: var(--ui-size);
}

.wrapper:hover {
    border-color: var(--border-hover-color);
}
